/* main.css */

html { 
  background: url("spices.jpeg") no-repeat center center fixed; 
}

	

header h1 {
	font-family: 'Love Ya Like A Sister', georgia;
	letter-spacing: 4px;
	font-size: 72px;
	padding-top: .5em;
	padding-left: .5em;
} 


body {
	font-family: Times Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
div.wrapper {
	max-width: 1220px;
	margin: 0 auto;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	list-style: circle;
	float: left;
	font-size: 150%;
}
nav ul li a {
	display: block;
	font-weight: bold;
	padding: .625em 3.5em; /* 10px 15px */
	text-decoration: underline;
	color: #1CE490;
	border-right: 1px solid #bababa;
}
img {max-width: 100%}
#col1 {
	float: inherit;
	width: 60%;
	margin: 1em 1em 1em 2em;
}

footer {
		clear: both;
}
footer h3 {
	font-family: 'Love Ya Like A Sister', georgia;
	background-color: #94d4ff;
	padding: .5em 0 .5em .5em;
	background-repeat: repeat-x;
	position: bottom;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #847B7B;
  text-align: center;
}

